.jdp {
  position: absolute;
  z-index: 99;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.428571429;
}

  .jdp table {
    margin: 3px;
    border-spacing: 0;
  }

    .jdp table tr td {
      vertical-align: middle;
      padding: 0 5px;
      text-align: center;
      width: 20px;
      height: 30px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      border: none;
    }

      .jdp table tr td.prev {
        width: 30px;
      }

      .jdp table tr td.center {
        width: 150px;
      }

      .jdp table tr td.next {
        width: 30px;
      }

      .jdp table tr td.month {
        width: 43px;
        height: 50px;
        padding: 5px;
      }

      .jdp table tr td.year {
        width: 43px;
        height: 50px;
      }

      .jdp table tr td.decade {
        width: 43px;
        height: 50px;
      }

      .jdp table tr td.disabled {
        color: #999999;
      }

      .jdp table tr td.day:hover,
      .jdp table tr td.month:hover,
      .jdp table tr td.year:hover,
      .jdp table tr td.decade:hover,
      .jdp-panels-header td:hover {
        background: #eeeeee;
        cursor: pointer;
      }

.jdp-panels-header,
.jdp-panels-weekday {
  font-weight: bold;
}

.jdp-today {
  color: #000000;
  background-color: #ffdb99 !important;
  border-color: #ffb733;
}

.jdp-selected {
  color: #ffffff;
  background-color: #3276b1 !important;
  border-color: #285e8e;
}

.jdp-rtl {
  direction: rtl;
}

.jdp-panels-days {
}
